# Ignorar ambiente virtual do Python
backend/venv/

# Ignorar caches do Python
__pycache__/
*.py[cod]

# Ignorar arquivos do VSCode ou outras IDEs
.vscode/
.idea/

# Ignorar arquivos temporários
*.log
*.swp
.DS_Store

# Ignorar builds do Flutter (frontend)
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Ignorar arquivo Flutter metadata
.metadata

# Ignorar arquivos de registro plugin gerados automaticamente
frontend/windows/flutter/generated_plugin_registrant.cc
frontend/windows/flutter/generated_plugin_registrant.h
frontend/windows/flutter/generated_plugins.cmake